<!DOCTYPE html>
<html>
 <head>
 <% include ./partials/header %>
 </head>
 <body>
   <header>
     <% include ./partials/navbar %>
   </header>
   <h1 class='center'>My Movies</h1>
   <hr />
   <div class='row'>
     <div class='col s12 m4'>
       <h3>Add Movie</h3>
       <form action='/movies' method='post'>
         <input type='text' name='title' placeholder='Title' />
         <button class='btn btn-waves' type='submit'>Add</button>
       </form>
     </div>
     <table class='table col m8 s12'>
       <thead>
         <th>Title</th>
         <th>Edit</th>
         <th>x</th>
       </thead>
       <tbody>
         <% movies.forEach( function(movie) { %>
         <% var url = "/movies/" + movie.id + "?_method=DELETE" %>
         <% var editUrl ="/movies/" + movie.id + "/edit" %> 
           <tr>
             <td><%= movie.title %></td>
             <td>
                <a class="btn" href="<%= editUrl %>">Edit</a>
             </td>
             <td> 
                <form method="Post" action=<%= url %> > 
                    <button class="btn red">Delete</button>
                </form> 
             </td>
         <% }); %>
       </tbody>
     </table>
   </body>
</html>